body { /*Applies a default font family and background color for the entire site.*/
   font-family: 'Noto Sans SC', sans-serif;
   background-color: #f3f3f3;
}

.callout-container { /* Loading in an image for the jumbotron, with all the necessary background sizes equalling cover to take up the width of the jumobtron. Code will also centre the content for style purposes.*/
    height: 80vh;
    background: url('../images/hero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

.divider { /* Divider code to alter the horizontal line html to appear longer, thicker and a blue colour.*/
    width: 150px;
    height: 5px;
    border: 0;
    background-color: #5bc0de;
    margin-top: 30px;
}

/*----Navigation Bar CSS----*/

.navbar-brand { /*Targetting the navigation title to change the font, spacing of letters and font size.*/
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-size: 30px;
}

a i { /*This code will affect the color and spacing between the social media links in the naviation bar.*/
    color: #e9ecef;
    letter-spacing: 8px;
}

/*----jumbotron----*/

.jumbotron { /*Adding a transparent color to the jumbotron to make the hero image appear on the landing page.*/
    background: transparent;
}

.jumbotron-header { /*Basic CSS code to change the font, color, and margin sizes on the header text in the jumbotron*/
    font-family: 'Bebas Neue', cursive;
    color:white;
    margin-bottom: 90px;
    margin-top: 120px;
}

.jumbotron p { /*Applying a selected color of white and a margin bottom to the paragraph text in the jumbotron for spacing purposes.*/
    color: white;
    margin-bottom: 20px;
}

/*----Class & Gallery Containers----*/

.nav-container h2 {
    text-decoration: underline;
    font-weight: bold;
    color: black;
    margin-top: 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
}

.nav-container img {
    margin-top: 20px;
    border-style: solid;
    border-color: #5bc0de;
}

.nav-container p {
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
}

.gallery-button { /*Editing the default button styling to make the user experience more appealing to users. curved border, colour change and button size are all affected*/
    border:solid;
    width: 30px;
    color: white;
    border-color: #5bc0de;
    background-color: #5bc0de;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.classes-button { /*Code is the same as 'gallery-button' class.*/
   border:solid;
    width: 30px;
    color: white;
    border-color: #5bc0de;
    background-color: #5bc0de;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px; 
}

/*----Footer CSS----*/

footer { /*Background color for the footer of the page.*/
    background-color: #292b2c;
}

footer p { /*This will target the <p> tag inside the footer. assigns a color of white, along with centering the text and giving it a padding*/
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

.btn-container { /*Applying a position and height to the button in the footer.*/
  height: 80px;
  position: relative;
}

.center { /*This class further targets the button within the footer, whilst avoiding any other elements with 'btn-container'. removes the margin and gives it top and bottom spacing.*/
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-social { /*Social media icons are affected by this CSS, center aligning it, and creating 8px of space between each one to make it look more professional.*/
    text-align: center;
    letter-spacing: 8px;
    padding-bottom: 20px;
    margin-top: 10px;
}