body { /*Applies a default font family and background color for the entire site.*/
   font-family: 'Noto Sans SC', sans-serif;
   background-color: #f3f3f3;
}

.callout-container { /* Loading in an image for the jumbotron, with all the necessary background sizes equalling cover to take up the width of the jumobtron. Code will also centre the content for style purposes.*/
    height: 80vh;
    background: url('../images/hero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

.divider { /* Divider code to alter the horizontal line html to appear longer, thicker and a blue colour.*/
    width: 150px;
    height: 5px;
    border: 0;
    background-color: #5bc0de;
    margin-top: 30px;
}

/*----Navigation Bar CSS----*/

.navbar-brand { /*Targetting the navigation title to change the font, spacing of letters and font size.*/
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-size: 30px;
}

a i { /*This code will affect the color and spacing between the social media links in the naviation bar.*/
    color: #e9ecef;
    letter-spacing: 8px;
}

/*----jumbotron CSS----*/

.jumbotron { /*Adding a transparent color to the jumbotron to make the hero image appear on the landing page.*/
    background: transparent;
}

.jumbotron-header { /*Basic CSS code to change the font, color, and margin sizes on the header text in the jumbotron*/
    font-family: 'Bebas Neue', cursive;
    color:white;
    margin-bottom: 90px;
    margin-top: 120px;
}

.jumbotron p { /*Applying a selected color of white and a margin bottom to the paragraph text in the jumbotron for spacing purposes.*/
    color: white;
    margin-bottom: 20px;
}

/*----Class & Gallery Containers CSS----*/

.nav-container h2 { /* thickness, underlining decoration and a letter spacing are added to both subheadings. New font also given to both subheadings.*/
    text-decoration: underline;
    font-weight: bold;
    color: black;
    margin-top: 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
}

.nav-container img { /* Adding a solid border with a top margin and color of blue to both images.*/
    margin-top: 20px;
    border-style: solid;
    border-color: #5bc0de;
}

.nav-container p { /* Padding added to the paragraph text within this class. also giving it a black color.*/
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
}

.gallery-button { /*Editing the default button styling to make the user experience more appealing to users. curved border, colour change and button size are all affected*/
    border:solid;
    width: 30px;
    color: white;
    border-color: #5bc0de;
    background-color: #5bc0de;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.classes-button { /*Code is the same as 'gallery-button' class.*/
   border:solid;
    width: 30px;
    color: white;
    border-color: #5bc0de;
    background-color: #5bc0de;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px; 
}

/*Coronavirus Section CSS----*/

.covid-container { /* Adding a grey border around the covid-related section of the website.*/
    border-style: solid;
    border-color: grey;
}

.covid-container h2,h3 { /* Targets the h2 and h3 tags within the covid container. Gives the tags a new font, along with letter spacing, thickness, margins etc.*/
    color: black;
    padding-bottom: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

.covid-container p { /* Changes the paragraph tags to black, with padding top and margin bottom.*/
    color: black;
    padding-top: 20px;
    margin-bottom: 70px;
}

/*----Class Information CSS----*/

#class-title { /* ID for page header. Adds simple styling such as an underline, thickness, font and a top margin for spacing from the nav bar.*/
    text-decoration: underline;
    font-weight: bold;
    color: black;
    margin-top: 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

.classes-container { /* Creates some spacing between page heading and class info section.*/
    margin-top: 40px;
}

.classes-container img { /* Creates more spacing for the page with a margin bottom, along with a solid blue border for each image.*/
    margin-bottom: 30px;
    border: solid;
    border-color: #5bc0de;
}

.class-info1 { /* Creates necessary amount of space between each section of text about each class*/
    margin-top: 120px;
    margin-left: -40px;
    line-height: 34px;
    
}

.class-info2 { /* See above - margin top value changes as needed.*/
    margin-top: 220px;
    margin-left: -40px;
    line-height: 34px;
}

.class-info3 { /* See above - margin top value changes as needed.*/
    margin-top: 230px;
    margin-left: -40px;
    line-height: 34px;
}

#review-title { /* Standard header CSS. Underlined and made the text bold. given a margin top for spacing and changed the font to make it stand out.*/
    text-decoration: underline;
    font-weight: bold;
    color: black;
    margin-top: 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

.review-content { /* Margins to create spacing*/
    margin-top: 60px;
    margin-bottom: 60px;
}

.review-content h2 { /* Margin left set at 26%, just over a quarter of the page. font & font size and changed to fit the appearance of the site.*/
    margin-left: 26%;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.review-content img{ /* Code gives the images in the reviews section a curved border. margin to the left of 300px to centralise the content more, and a bottom margin for spacing.*/
    border-radius: 20px;
    margin-left: 300px;
    margin-bottom: 20px;
}

.right-content { /* Code is to push the content to the right of the other sections of the reviews*/
    position:absolute; 
    right:0;
    margin-right: 30%;
    margin-top: 70px;
    line-height: 34px;
}

/*----Gallery CSS----*/

.image-gallery {
    column-count: 3;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.image-solo {
    margin-bottom: 40px;
    border:solid;
    border-color: #5bc0de;
}

@media only screen and (max-width: 600px) {

    .image-gallery {
        column-count: 1;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 800px) {

    .image-gallery {
        column-count: 2;
    }
}

/*----Contact CSS----*/

.contact-container { /* Padding for the contact page so it goes below navigation bar.*/
    padding-top: 20px;
}

.contact-p { /* Styles for the paragraph tag. Line height and margins applied.*/
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 35px;
}

.contact-map { /* Padding for spacing around the map.*/
    padding-top: 20px;
    padding-bottom: 40px;
}

/*----Footer CSS----*/

footer { /*Background color for the footer of the page.*/
    background-color: #292b2c;
}

footer p { /*This will target the <p> tag inside the footer. assigns a color of white, along with centering the text and giving it a padding*/
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

.btn-container { /*Applying a position and height to the button in the footer.*/
  height: 80px;
  position: relative;
}

.center { /*This class further targets the button within the footer, whilst avoiding any other elements with 'btn-container'. removes the margin and gives it top and bottom spacing.*/
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-social { /*Social media icons are affected by this CSS, center aligning it, and creating 8px of space between each one to make it look more professional.*/
    text-align: center;
    letter-spacing: 8px;
    padding-bottom: 20px;
    margin-top: 10px;
}